<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../../static/layui/css/layui.css"
	media="all">
<link rel="stylesheet" type="text/css"
	href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
<link rel="stylesheet" href="../../static/modules/common.css">
<style type="text/css">
	.searchDiv{
		    height: 36px;
		    line-height: 36px;
	}
	.filter{
		height: 25px;
    	margin-right: -6px;
	}
</style>
</head>
<body>

	<div id="data_div" class="main ">
		<fieldset class="layui-elem-field layui-field-title site-title">
			<legend>
				<a name="use"> 遵义应急救灾系统资源列表 </a>
			</legend>
		</fieldset>

		<div class="layui-btn-group" style="float: left;margin-right: 50px;">
			<button class="layui-btn" id="add_btn">增加</button>
		</div>
		<div class="searchDiv">
			<input type="text" name="searchText" class="filter">
				<button class="layui-btn layui-btn-sm searchBtn">搜索</button>
		</div>
		<table id="data_table"></table>
	</div>
	<!-- 添加 -->
	<div id="add_div" class="modal hide main">
		<button class="layui-btn layui-btn-sm layui-btn-normal cancel">
			<i class="layui-icon"> 返回</i>
		</button>
		<fieldset class="layui-elem-field layui-field-title site-title">
			<legend>
				<a name="use"> 添加资源 </a> 
			</legend>
		</fieldset>
		<div class="site-text site-block">
			<form id="add_form">
				<div class="layui-form-item">
					<label class="layui-form-label">资源名称</label>
					<div class="layui-input-inline">
						<input type="text" check="资源名称" name="name" placeholder="请输入资源名称"
							maxlength="16" autocomplete="off" class="layui-input">
					</div>
					<div class="layui-form-mid layui-word-aux">*</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">资源路径</label>
					<div class="layui-input-inline">
						<input type="text" check="资源路径-xie" name="url"
							placeholder="请输入资源路径(以'/'开头)" maxlength="64" autocomplete="off"
							class="layui-input">
					</div>
					<div class="layui-form-mid layui-word-aux">*</div>
				</div>
				<div class="layui-form">
					<div class="layui-form-item">
						<label class="layui-form-label">资源属性</label>
						<div class="layui-input-block 	">
							<input type="radio" name="isMenuUrl" value="0" title="按钮"  checked="checked">
							<input type="radio" name="isMenuUrl" value="1" title="菜单">
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">所属菜单</label>
					<div class="layui-input-inline layui-form-select">
						<select name="menuId" check="所属菜单" class="layui-input">
							<option value="">--请选择--</option>
						</select>
					</div>
					<div class="layui-form-mid layui-word-aux">*</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">排序号(整数)</label>
					<div class="layui-input-inline">
						<input type="text" name="orderBy" check="排序号-int"
							placeholder="请输入排序号" maxlength="8" autocomplete="off"
							class="layui-input">
					</div>
					<div class="layui-form-mid layui-word-aux">*</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button type="button" class="layui-btn active" id="submit_btn_a">立即提交</button>
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- 添加↑ -->
	<!-- 编辑↓ -->
	<div id="edit_div" class="modal hide main">
		<button class="layui-btn layui-btn-sm layui-btn-normal cancel">
			<i class="layui-icon"> 返回</i>
		</button>
		<fieldset class="layui-elem-field layui-field-title site-title">
			<legend>
				<a name="use"> 编辑资源 </a>
			</legend>
		</fieldset>
		<div class="site-text site-block">
			<form id="edit_form">
				<input type="hidden" name="id">
				<div class="layui-form-item">
					<label class="layui-form-label">资源名称</label>
					<div class="layui-input-inline">
						<input type="text" check="资源名称" name="name" placeholder="请输入资源名称"
							maxlength="16" autocomplete="off" class="layui-input">
					</div>
					<div class="layui-form-mid layui-word-aux">*</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">资源路径</label>
					<div class="layui-input-inline">
						<input type="text" check="资源路径-xie" name="url"
							placeholder="请输入资源路径(以'/'开头)" maxlength="64" autocomplete="off"
							class="layui-input">
					</div>
					<div class="layui-form-mid layui-word-aux">*</div>
				</div>
				<div class="layui-form">
					<div class="layui-form-item">
						<label class="layui-form-label">资源属性</label>
						<div class="layui-input-block 	">
							<input type="radio" name="isMenuUrl" value="0" title="按钮">
							<input type="radio" name="isMenuUrl" value="1" title="菜单">
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">所属菜单</label>
					<div class="layui-input-inline layui-form-select">
						<select name="menuId" check="所属菜单" class="layui-input">
							<option value="">--请选择--</option>
						</select>
					</div>
					<div class="layui-form-mid layui-word-aux">*</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">排序号(整数)</label>
					<div class="layui-input-inline">
						<input type="text" name="orderBy" check="排序号-int"
							placeholder="请输入排序号" maxlength="8" autocomplete="off"
							class="layui-input">
					</div>
					<div class="layui-form-mid layui-word-aux">*</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button type="button" class="layui-btn active" id="submit_btn_e">立即提交</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- 编辑↑ -->

	<!-- 工具栏  -->
	<div id="toolBar" style="display: none;">
		<a class="layui-btn layui-btn-disabled layui-btn-xs view_btn">查看</a> <a
			class="layui-btn layui-btn-xs edit_btn">编辑</a> <a
			class="layui-btn layui-btn-danger layui-btn-xs del_btn">删除</a>
	</div>

	<script src="../../static/layui/layui.js"></script>
	<script src="../../static/modules/common.js"></script>
	<script src="../../static/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="../../static/modules/zUtil.js"></script>
	<script type="text/javascript" src="resource.js"></script>
</body>
</html>